---
layout: default
---

<article id="main">
    <header class="special container">
        <h2>Thoughts on <strong>Programming</strong> and other things</h2>
    </header>
    <section class="wrapper style4 container">
        <ul class="posts">
          {% for post in site.posts %}
            <li class="wrapper {% if forloop.first %} style2 {% else %} style1 {% endif %}">
              <h2><a href="{{ post.url }}"><strong>{{ post.git.first_commit.message }} </strong>&mdash; {{ post.git.first_commit.short_sha }}</a></h2>
                {{ post.excerpt }}
             <h5>{{ post.git.first_commit.commit_date }}</h5>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="{{ post.url }}" class="button">Read more</a></li>
                    </ul></section>
            </li>
          {% endfor %}
        </ul>
    </section>
</article>
